<h1>Estimate macros</h1>

Send us an image and/or a description of a meal and we'll ask AI to estimate how many calories and macronutrients it contains:

<div>

Image @image_upload

</div>


<div>

Description

</div>
