<h1>Results</h1>

<dl>
  <dt>Carbs (g)</dt>
  <dt><%=  @g_carbs %> </dt>

  <dt>Proteing (g)</dt>
  <dt><%=  @g_protein %> </dt>

  <dt>Fat (g)</dt>
  <dt><%=  @g_fat %> </dt>

   <dt>Total Calories (kcal)</dt>
  <dt><%=  @g_cal %> </dt>
</dl>
